<div class="container p-4">
    <div class="row">
        <div class="col-md-6">
            <h1>Twit</h1>
            <br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Twit es un chat de mensajería, utilizando el API de Twilio se decidió crear esta app consumiendo este API.
                Contamos con canales en dónde puede chatear con todas las personas pertenecientes al canal.
            </h3>
        </div>
        <div class="col-md-5">
            <form action="/entrar" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="user" name="user" placeholder="User">
                </div>
                <div class="form-group">
                     <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block">Entrar</button>
            </form><br>
            <h3 id = "title">{{title}}</h3>
        </div>
    <div>
</div>
