<div class="modal fade" id="loguin">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <strong>
          <h4 class="modal-title">Loguin Twit</h4>
        </strong>
      </div>
      <form action="/entrar" method="POST">
        <div class="modal-body">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Usuario</label>
              <input type="text" class="form-control" placeholder="User" name="user" id="user" required
                data-validation-required-message="Por favor ingrese su nombre de usuario">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password" id="password" required
                data-validation-required-message="Ingrese su password.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-success " data-toggle="modal">Entrar</a>
        </div>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="comentarioPeque.png" alt=""> Twit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ir_a_canales">Canales</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="validar()">Entrar</button>
  </div>
</nav>
<script>
  function validar() {
    $('#loguin').modal();
  }
</script>