h1{
    font-size: 75px;
}

.botonl
{
    
	border-radius:2px;
	background:#2D42C9;
	color:#fff;
	display:inline-block;
	font-size:15px;
	text-align:center;
    width:40px;
	text-decoration:none;
}
.icons{
    color: white;
}

.chanel{
	background-color:#40b024;
	width:50px;
}
.chanelDas{
	background-color:#40b024;
}

#global {
	height: 250px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
#mensajes {
	height: auto;
}
.texto {
	padding:4px;
	background:#fff;
}